
{% extends "base.html" %}
{% load  staticfiles %}
{% block content %}
<body>
	<div class="container">
		<div class="main-header">
			<div class="inner-side">
				<div class="header">
					<div class="head-top">
						<div class="top-menu">
						<span class="menu"><img src="/static/images/nav.png" alt=""/> </span>
							<ul>

								{% if  request.user.id %}
                                    <li class="active"><a href="/"><span>Home</span></a></li>
                                    <li><a href="/about"><span>About us</span></a></li>
								    <li><span>你好:{{user.username}}</span></li>
                                     <li><a href="/logout"><span>退出</span></a></li>
                                    {% else %}
                                    <li class="active"><a href="#"><span>Home</span></a></li>
                                    <li><a href="/about"><span>About us</span></a></li>
                                    <li><a href="/login"><span>登录</span></a> </li>
                                    <li><a href="/signup"><span>注册</span></a></li>
                                    <li><a href="/logout"><span>退出</span></a></li>
								{%  endif %}
							</ul>
						</div>

						<!-- script for menu --!>
							 <script>
							 $("span.menu").click(function(){
							 $(".top-menu ul").slideToggle("slow" , function(){
							 });
							 });
							 </script>
						<!-- //script for menu -->

						<div class="clearfix"></div>
					</div>
					<div class="logo">
						<h1>smartHouse{{ time }} </h1>
					</div>
				</div>


{#                    房子的内容#}
                    <div class="container" style="background-color: #4cae4c">
                        {% if not light_set == None %}
							<table class="table-bordered table" border="5">
                                <thead class="table">灯光控制</thead>
                                <tr>
                                    <td>电灯</td>
                                    <td>状态</td>
                                    <td>操作</td>
                                </tr>
                                {% for foo in light_set %}
							    <tr>
                                    <td>电灯{{ foo.id }}</td>
                                    <td>{{ foo.state }}</td>
                                    <td><a href="/closelight/{{ foo.id }}">Turn</a></td>
                                </tr>
							{% endfor %}
                            </table>

                            <table class="table " border="5" title="空调控制">
                                <thead>温度控制</thead>
                                {% for foo in kong_set %}
							    <tr>
                                    <td>空调{{ foo.id }}</td>
                                    <td>{{ foo.temperature }}</td>
                                    <td><a href="/reduce_temp/{{ foo.id }}">降温</a></td>
                                    <td><a href="/raise_temp/{{ foo.id }}">升温</a></td>
                                </tr>
							{% endfor %}
                            </table>



                            <div class="container">
                                <h>监控</h>
                                <br>
                                <img src="http://192.168.31.122:8082/?action=stream" alt="http://192.168.31.122:8082/?action=stream"></img>


                            </div>
                        {%  endif %}


                    </div>
				<!--start-footer-section-->
				<div class="footer-section">
					<div class="footer-top">
						<p>Copyright &copy; 2015.SmartHouse All rights reserved.More... </p>
					</div>
				</div>

<script src="/static/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
          $("#sum").click(function () {
              var a = 1;
              $.get("/ajx_text/", {'a': a}, function (ret) {
                  $('#result').html(ret)
              })
      });
    });
</script>

				<!--end-footer-section-->
			</div>
		</div>
    </div>


</body>
</html> 
{% endblock %}