
{% extends "base.html" %}
{% load  staticfiles %}
{% block content %}
<body>
	<div class="container-fluid">
		<div class="main-header">
			<div class="inner-side">
				<div class="header">
					<div class="head-top">
						<div class="top-menu">
						<span class="menu"><img src="images/nav.png" alt=""/> </span>
							<ul>

								{% if  request.user.id %}
                                    <li class="active"><a href="#"><span>Home</span></a></li>
                                    <li><a href="about"><span>About us</span></a></li>
								    <li><span>你好:{{user.username}}</span></li>
                                     <li><a href="logout"><span>退出</span></a></li>
                                    {% else %}
                                    <li class="active"><a href="#"><span>Home</span></a></li>
                                    <li><a href="about"><span>About us</span></a></li>
                                    <li><a href="login"><span>登录</span></a> </li>
                                    <li><a href="signup"><span>注册</span></a></li>
                                    <li><a href="logout"><span>退出</span></a></li>
								{%  endif %}
							</ul>
						</div>

						<!-- script for menu -->
									
							 <script>
							 $("span.menu").click(function(){
							 $(".top-menu ul").slideToggle("slow" , function(){
							 });
							 });
							 </script>
						<!-- //script for menu -->

						<div class="clearfix"></div>
					</div>
					<div class="logo">
						<h1>smartHouse{{ time }} </h1>
					</div>
				</div>
{#				<div class="fluid_container">#}
{#					<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">#}
{#						<div data-thumb="images/thumbs/slider1.jpg" data-src="images/slider1.jpg"></div>#}
{#						<div data-thumb="images/thumbs/slider2.jpg" data-src="images/slider2.jpg"></div>#}
{#						<div data-thumb="images/thumbs/slider3.jpg" data-src="images/slider5.jpg"></div>#}
{#						<div data-thumb="images/thumbs/slider4.jpg" data-src="images/slider4.jpg"></div>            #}
{#					</div>#}

{#                    房子的内容#}
                    <div class="container" style="background-color: #4cae4c">
                        {% if not light_set == None %}
							<table class="table-bordered table" border="5">
                                <thead class="table">灯光控制</thead>
                                {% for foo in light_set %}
							    <tr>
                                    <td>电灯{{ foo.id }}</td>
                                    <td>{{ foo.state }}</td>
                                    <td><a href="/closelight/{{ foo.id }}">更改</a></td>
                                </tr>
							{% endfor %}
                            </table>

                            <table class="table " border="5" title="空调控制">
                                <thead>温度控制</thead>
                                {% for foo in kong_set %}
							    <tr>
                                    <td>空调{{ foo.id }}</td>
                                    <td>{{ foo.temperature }}</td>
                                    <td><a href="/reduce_temp/{{ foo.id }}">降温</a></td>
                                    <td><a href="/raise_temp/{{ foo.id }}">升温</a></td>
                                    <button type="button" id='sum'>提交</button>
                                     <script>
                                        $(document).ready(function(){
                                          $("#sum").click(function(){
                                            var a = {{ foo.id }}

                                            $.get("/ajx_text/",{'a':a}, function(ret){
                                                $('#result').html(ret)
                                            })
                                          });
                                        });
                                    </script>
                                </tr>
							{% endfor %}
                            </table>

                        {%  endif %}


                    </div>
				<!--start-footer-section-->
				<div class="footer-section">
					<div class="footer-top">
						<p>Copyright &copy; 2015.SmartHouse All rights reserved.More... </p>
					</div>
				</div>
				<!--end-footer-section-->
			</div>
		</div>
    </div>


</body>
</html> 
{% endblock %}